html {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  /*background-color: #A0E09B;*/
  /*background-image: url("../images/leaves.jpg");*/
  /*padding: 5px;*/

  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

/*----------------------Overall Layout--------------------- */
header {
  /*text-align: center;*/
  vertical-align: center;
  flex: 1;
  min-height: 60px;
  background-color: #F3EAF6;
}

nav {
  background-color: #F3EAF6;
  /*min-height: 25px;*/
  /*padding: 0px 5px;*/

/*
  display: flex;
  align-content: stretch;
  align-items: stretch; */
}

main {
  height: 100%;
  flex-grow: 4;
}

footer {
  /*position: absolute;
  bottom: 0;*/
  flex-grow: 1;
  background-color: #F3EAF6;
  max-height: 75px;
  padding: 5px;
}

/*---------------------Formatting------------------------*/
/*~~~~~~~~~ HEADER and HEADINGS ~~~~~~~~~~~~*/
h1 {
  font: bold 42px;
  color: BlueViolet;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  padding: 5px;
}

/*~~~~~~~~~~~~~~~~~NAV~~~~~~~~~~~~~~~~~~~~~~*/
nav li {
  list-style-type: none;
}

nav a {
  text-align: center;
  margin: auto;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  border-radius: 5px;
  font-weight: bold;
}

/* Nav on Normal Screens */
@media {
  nav li {
    width: 100px;
    display: inline-block;
    text-align: center;
  }
  nav ul {
    margin: 0;
    padding: 0;
  }

  .drop-btn {
    position: relative;
  }

  .drop-content {
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 3px lightgrey;
  }
}

/* Nav on Small Screens */
@media (max-width: 535px) {
  nav {
    display: block;
  }
  nav li {
    width: 100%;
    margin: 1px;
    padding: 2px;
  }
  nav ul {
    margin: 5px;
    padding: 0;
  }
  .drop-btn {
    position: relative;
  }
  .drop-content {
    position: relative;
    box-shadow: 0px 0px;
  }
}

.hide {
  display: none;
}

.drop-content li {
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  padding: 5px;
}

.drop-content a {
  font-size: 14px;
}


/*~~~~~~~~~~ BODY ~~~~~~~~~~~~~~*/

/*Layout*/
.layout-container {
  height: 100%;
  display: flex;
}

aside { /* Side Menus */
  background-color: #F3EAF6;
  /*padding: 10px;*/
  flex: 0 0 150px;
}

section { /* Center Body */
  background-color: #F9F4EF;
  /*margin: 5px;*/
  padding: 5px;
  flex: 1;
}


/* Recipe Cards */
.recipes-container {
  display: flex;
  align-content: flex-start;
  /*justify-content: space-around;*/
  flex-flow: wrap;
}

article {
  padding: 10px;
  margin: 2px;
  border: 3px outset blueviolet;
  border-radius: 5px;
}

.recipe {
  width: 150px;
  height: 200px;
  background-color: white;
  margin: 5px;
  overflow: hidden;
}

.recipe h3 {
  margin: 0px;
}

.recipe ul.ingredients {
  margin-top: -15px;
}

/* Tag Nav (left aside) */
.tag-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tag-nav a {
  text-decoration: none;
  margin: 5px;
  padding: 5px;
}


/* MISC */
figure {
  margin: 0 auto;
}
